
.mainBox{
	width: 100%;height: 1080px;
  	background: #fff;
	position: absolute;top: 0;left: 0;
.ol-scale-line{
	position: absolute;bottom: 200px;left: 100px;
}
}


.waitbox{
  width: 100%;height: 990px;background:#fff;
}